#vt100 #cursor.bright {
  background-color: #eee;
  color:            #000;
}

#vt100 #scrollable {
  color:            #ccc;
  background-color: #000;
}

#vt100 #scrollable.inverted {
  color:            #000;
  background-color: #aaa;
}

#vt100 .ansi1, #vt100 .ansi2, #vt100 .ansi3, #vt100 .ansi4, #vt100 .ansi5, #vt100 .ansi6, #vt100 .ansi7 {
  color:            #ccc;
}

#vt100 .ansi8 {
  color:            #444;
}

#vt100 .ansi9, #vt100 .ansi10, #vt100 .ansi11, #vt100 .ansi12, #vt100 .ansi13, #vt100 .ansi14, #vt100 .ansi15 {
  color:            #fff;
}

#vt100 .ansi0 {
  color:            #000;
}

#vt100 .bgAnsi0 {
  background-color: #000;
}

#vt100 .bgAnsi8 {
  backrgound-color: #555;
}

#vt100 .bgAnsi1, #vt100 .bgAnsi2, #vt100 .bgAnsi3, #vt100 .bgAnsi4, #vt100 .bgAnsi5, #vt100 .bgAnsi6, #vt100 .bgAnsi7 {
  background-color: #888;
}

#vt100 #vt100 .bgAnsi9, #vt100 .bgAnsi10, #vt100 .bgAnsi11, #vt100 .bgAnsi12, #vt100 .bgAnsi13, #vt100 .bgAnsi14, .bgAnsi15 {
  background-color: #eee;
}

