#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autotools-dev

# elf-2012.04.10: Since Debian manages package dependencies we can
# 		  force linkage of ssl s.t. the dependency is properly kept
# 		  up-to-date.  This is much better than attempting to
# 		  force the right version of ssl to be present
# 		  s.t. the runtime loader can find them.
override_dh_auto_configure:
	dh_auto_configure -- --disable-runtime-loading

# elf-2012.03.24: This work should be done in the Makefile install
#		  target instead of debian/rules.
DESTDIR=$(CURDIR)/debian/tmp
override_dh_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
# We need to install some files for the benefit of Debian that aren't
# going into the program instal target.  So, we install into
# debian/tmp the things that need to be included in the package.
	$(MAKE) install DESTDIR=$(DESTDIR)
# Set up system-wide user CSS style options
	mkdir -p "$(DESTDIR)/etc/shellinabox/options-available"
	mkdir -p "$(DESTDIR)/etc/shellinabox/options-enabled"
	for i in \
		"00+Black on White" \
		"00_White On Black" \
		"01_Monochrome" \
		"01+Color Terminal"; do \
	  cp "$(DESTDIR)/usr/share/doc/shellinabox/$$(echo "$$i"|	\
		sed -e 's/[0-9]*[_+]\([^ ]*\).*/\1/'| 			\
		tr A-Z a-z)"*.css                     			\
	     "$(DESTDIR)/etc/shellinabox/options-available/$$i.css";	\
	done
	cd "$(DESTDIR)/etc/shellinabox/options-enabled" \
	  && ln -s ../options-available/*.css .
	cp "$(CURDIR)/debian/README.available"                                \
	   "$(DESTDIR)/etc/shellinabox/options-available/README"
	cp "$(CURDIR)/debian/README.enabled"                                  \
	   "$(DESTDIR)/etc/shellinabox/options-enabled/README"
# Shellinabox home directory
#	mkdir -p "$(DESTDIR)/var/lib/shellinabox"
# Add Lintian override. ShellInABox has an explicit exemption allowing
# the linking its GPLv2 code with OpenSSL.
	mkdir -p "$(DESTDIR)/usr/share/lintian/overrides/"
	{ echo '# ShellInABox has an explicit exemption allowing the linking';\
	echo '# of its GPLv2 code with OpenSSL';                              \
	echo 'shellinabox binary: possible-gpl-code-linked-with-openssl'; }   \
	   >"$(DESTDIR)/usr/share/lintian/overrides/shellinabox"
# Now perform the normal debhelper install.
	dh_install
