#vt100 .ansi0               { color:            #111111; }
#vt100 .ansi1               { color:            #a02020; }
#vt100 .ansi2               { color:            #209020; }
#vt100 .ansi3               { color:            #ee8c00; }
#vt100 .ansi4               { color:            #3030e0; }
#vt100 .ansi5               { color:            #802080; }
#vt100 .ansi6               { color:            #209090; }
#vt100 .ansi7               { }
#vt100 .ansi8               { color:            #444444; }
#vt100 .ansi9               { color:            #ee2222; }
#vt100 .ansi10              { color:            #00dd00; }
#vt100 .ansi11              { color:            #ffff00; }
#vt100 .ansi12              { color:            #3355ff; }
#vt100 .ansi13              { color:            #ee00ee; }
#vt100 .ansi14              { color:            #00eeee; }
#vt100 .ansi15              { color:            #ffffff; }

#vt100 .bgAnsi0             { }
#vt100 .bgAnsi1             { background-color: #800000; }
#vt100 .bgAnsi2             { background-color: #008000; }
#vt100 .bgAnsi3             { background-color: #dd7b00; }
#vt100 .bgAnsi4             { background-color: #000080; }
#vt100 .bgAnsi5             { background-color: #700070; }
#vt100 .bgAnsi6             { background-color: #008080; }
#vt100 .bgAnsi7             { background-color: #999999; }
#vt100 .bgAnsi8             { background-color: #222222; }
#vt100 .bgAnsi9             { background-color: #dd0000; }
#vt100 .bgAnsi10            { background-color: #00cc00; }
#vt100 .bgAnsi11            { background-color: #cccc00; }
#vt100 .bgAnsi12            { background-color: #0000cc; }
#vt100 .bgAnsi13            { background-color: #cc00cc; }
#vt100 .bgAnsi14            { background-color: #00cccc; }
#vt100 .bgAnsi15            { background-color: #cccccc; }


